@model IEnumerable<PawMates.Models.Dog>

@{
    ViewData["Title"] = "DogList";
}

<h1>DogList</h1>

<p>
    <a asp-action="NavigateToDogController">Add New Dog</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperment)
            </td>
            <td>
                <a asp-action="EditDog" asp-route-id="@item.DogId">EditDog</a> |
                <a asp-action="Details" asp-route-id="@item.DogId">Details</a> |
                <a asp-action="RemoveDog" asp-route-id="@item.DogId">RemoveDog</a>
            </td>
        </tr>
}
    </tbody>
</table>
