@model IEnumerable<PawMates.Models.Dog>

@{
    ViewData["Title"] = "DogList";
}

<h1>Your Dog(s)</h1>

<p>
    <a asp-action="NavigateToAddDog">Add A New Dog</a>
    <br />

    

    <a asp-action="Details">View your information</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperment)
                </td>
                <td>
                    <a asp-action="EditDog" asp-route-id="@item.DogId">Edit Dog</a> |
                    <a asp-action="DogDetails" asp-route-id="@item.DogId">Dog Details</a> |
                    <a asp-action="RemoveDog" asp-route-id="@item.DogId">Remove Dog</a>
                </td>
            </tr>
        }                                       
        
        <img src="Images/Boston-Terrier-puppy-dogs-13518448-1600-1200.jpg" />
        
    </tbody>
</table>
