@model IEnumerable<PawMates.Models.Owner>

@{
    ViewData["Title"] = "MatchedOwners";
}

<h1>Matched Owners</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="PotentialDogMatchOwner" asp-route-id="@item.Id">See Owner's Details</a>
                <a asp-action="ConnectWithOwner" asp-route-id="@item.Id">Connect With This Owner</a>
            </td>
        </tr>
}
    </tbody>
</table>
