@model IEnumerable<PawMates.Models.Dog>

@{
    ViewData["Title"] = "YourLikedDogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>YourLikedDogs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PotentialMatches)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PotentialMatches2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PotentialMatches3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PotentialMatches4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PotentialMatches5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialMatches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialMatches2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialMatches3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialMatches4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialMatches5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.State)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
